body{
    padding-top: 60px;
    padding-bottom: 40px;
}
.header{
    width: 100%;
    height: 15%;
    position: fixed;
    background: rgb(34, 21, 21);
    padding: 0 0;
    color: lightgreen;
    top: 0;
    font-size: 8px;
    display: inline-block;

}
.container{
    width: 100%;
    margin: 0 auto;/* center the div horizontally */
    text-align: center;
}
.logo{
    display: inline-block;
    vertical-align: bottom;
    width: 80px;
    height: 65px;
    margin-right: 20px;
    margin-top: 15px;
    padding-left: 10px;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    height: 50px;
    line-height: 80px;
    font-family: cursive;
    font-size: 20px;
    text-align: center;

}
.topnav a:hover{
        background-color: rgb(214, 162, 98);
        color: rgb(6, 107, 6);
}
.topnav a.active{
    background-color: cadetblue;
    color: black;
}
.topnav input[type=text]{
    float: right;
    padding: 6px 6px;
    margin-top: 30px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

@media only screen and(min-width:700px){/* responsive media querry*/
    .topnav a{
        background-position: 25px center;
        display: block;
    }
    .topnav ul{
        justify-content: flex-end;
    }
    .topnav li{
        width: 50px;
    }
    .navText{
        display: inline;
        text-align: center;
        padding-left: 25px;
    }

}
#field{
    background-color: burlywood;
    padding: 1em;
    margin: 1em;
}
#h2{
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(245, 108, 92);
    text-align: center;
}
#field2{
    background-color: bisque;
    padding: 1em;
    margin: 1em;
}
#sub1{
    width: 1400px;
    height: 500px;
}
#field3{
    background-color: black;
    padding: 1em;
    margin: 1em;
    font-size: 25px;
}
#h3{
    font-family: cursive;
    font-size: xx-large;
    color: lightgreen;
    text-align: center;
}
.center{/* image styles*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#p1{

    color: aliceblue;
}
#sub2{
    width: 450px;
    height: 400px;
    display: block;
}
.li{/* extra links*/
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.li:hover{
    background-color: aquamarine;
}








.footer{
    width: 100%;
    position: unset;
    background: black;
    padding: 10px 0;
    color: rgb(252, 248, 248);
    bottom: 0;
    text-align: initial;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;

}