body{
    padding-top: 60px;
    padding-bottom: 40px;
}
.header{/* header styles */
    width: 100%;
    height: 15%;
    position: fixed;
    background: rgb(34, 21, 21);
    padding: 0 0;
    color: lightgreen;
    top: 0;
    font-size: 8px;
    display: inline-block;

}
.container{
    width: 100%;
    margin: 0 auto;/* center the div horizontally */
    text-align: center;
}
.logo{
    display: inline-block;
    vertical-align: bottom;
    width: 80px;
    height: 65px;
    margin-right: 20px;
    margin-top: 15px;
    padding-left: 10px;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    height: 50px;
    line-height: 80px;
    font-family: cursive;
    font-size: 20px;
    text-align: center;

}
.topnav a:hover{
        background-color: rgb(214, 162, 98);
        color: rgb(6, 107, 6);
}
.topnav a.active{
    background-color: cadetblue;
    color: black;
}
.topnav input[type=text]{
    float: right;
    padding: 6px 6px;
    margin-top: 30px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

@media only screen and(min-width:700px){/* responsive media querry  */
    .topnav a{
        background-position: 25px center;
        display: block;
    }
    .topnav ul{
        justify-content: flex-end;
    }
    .topnav li{
        width: 50px;
    }
    .navText{
        display: inline;
        text-align: center;
        padding-left: 25px;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap:10px;
    }

}
#field{
    background-color: rgb(39, 36, 36);
   padding: 0%;
   margin: 0%;
}
#h2{
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(245, 108, 92);
    text-align: center;
}
#field2{
    background-color: rgb(48, 41, 41);
    padding: 1em;
    margin: 1em;
}
#f{
    background-color: black;
    padding: 40px;
    margin: 1em;
}
#sub1{
    width: 700px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    
}
#sub2{
    width: 520px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    
}
#field3{
    background-color: rgba(7, 7, 6, 0.945);
    padding: 1em;
    margin: 1em;
}
#con{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#con .c{/* cintent dividing boxes */
    margin: .8em .2em;
    width: calc(33% - .4em);
    box-sizing: border-box;
    box-shadow: 0 19px 38px rgb(241, 122, 206), 0 15px 12px  rgb(241, 122, 206);
    background-color: rgb(226, 173, 107);
}
#con h3, #con p{/* box paragraphs and heading styles */
    width: 90%;
    padding: 0;
    margin: 1em auto;
}
.button{/* box button */
    padding: .8em;
    background-color: rgb(17, 1, 1);
    color: rgb(201, 14, 107);
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: .8em auto .8em 0;
    width: 100px;
}
#con img{/* box inside image */
    max-width: 420px;
    display: block;
}
#sub6{
    width: 420px;
    height: 280px;
    display: block;
}
h3{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    color: rgb(63, 7, 56);
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgba(19, 6, 17, 0.925);
   
}
ul{
    font-size: 20px;
    color: brown;
}
#table{/* summary table */
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#table td, #table th{
    border: 4px solid saddlebrown;
    padding: 8px;
}
#table tr{
    background-color: aquamarine;
}
#table tr:hover{
    background-color: salmon;
}
#table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: bisque;
    color: black;
    font-size: 20px;
}
 #table tfoot{
   text-align: center;
   font-size: 30px;
}



.footer{
    width: 100%;
    position: unset;
    background: black;
    padding: 10px 0;
    color: rgb(252, 248, 248);
    bottom: 0;
    text-align: initial;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
}